// Variables
@defaultFontFamily: 'Open Sans', sans-serif;
@secondaryFontFamily: Helvetica, sans-serif;
@primarySectionFontColor: white;
@primaryAccentColor: #2f5bea;

// Media queries
@gt-xs: ~"(min-width: 576px)";
@gt-sm: ~"(min-width: 768px)";
@gt-md: ~"(min-width: 992px)";
@gt-lg: ~"(min-width: 1200px)";
@gt-xl: ~"(min-width: 1920px)";